<form class="needs-validation" novalidate>
  <div class="form-row">
    <div  class="col-md-6 mb-3">
      <select [formControl]="tariffForm.controls['name']" class="form-control" (change)="saveNameTariff($event)">
        <option hidden value="" selected>Selecciona un tipo...</option>
        <option [value]="tariffName.name" *ngFor="let tariffName of tariffs">{{tariffName.name}}</option>
      </select>
      <div *ngIf="tariffForm.controls.name.touched && tariffForm.controls.name.errors?.required"
        class="text text-danger">
        El tipo es requerido.
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <input type="number" class="form-control" placeholder="Tarifa"
        [formControl]="tariffForm.controls['price']" (change)="savePrice($event)" required>
      <div *ngIf="tariffForm.controls.price.touched && tariffForm.controls.price.errors?.required"
        class="text text-danger">
        La tarifa es requerida.
      </div>
    </div>
  </div>
</form>