<div class="page-wrapper">
    <div class="auth-bg">
        <div class="authentication-box box-size">
            <div class="card mt-4">

                <!-- Map -->

                <div class="card-body" *ngIf="MapView">
                    <div class="text-center">
                        <h4>Mapa de Ubicaciones</h4>
                        <h6>Pulsa sobre la ubicación para marcar el lugar donde se realizará el servicio de limpieza y
                            cuando lo hayas señalado pulsa en solicitar servicio..</h6>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                            placeholder="Buscar Ubicaciones" autocorrect="off" autocapitalize="off"
                            spellcheck="off" type="text" #search>
                    </div>
                    <agm-map [latitude]="latitude" [zoom]="zoom" [longitude]="longitude" (mapReady)="onMapReady($event)"
                        (mapClick)="mapClicked($event)" [styles]= "styles">
                        <agm-marker [latitude]="latitudeService" [longitude]="longitudeService"></agm-marker>
                    </agm-map>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="button-list p-2">
                                <button type="button"
                                    class="btn btn-primary waves-effect width-lg waves-light buttons-space"
                                    (click)="zoomIn()">Zoom +</button>
                                <button type="button"
                                    class="btn btn-primary waves-effect width-lg waves-light buttons-space"
                                    (click)="zoomOut()">Zoom -</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="button-list p-2">
                                <button type="button"
                                    class="btn btn-success waves-effect width-lg waves-light buttons-space"
                                    (click)="acceptServiceRequest()">Solicitar Servicio</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- / Map -->


                <!-- Form Service -->
                <div class="card-body" *ngIf="formService">
                    <div class="text-center">
                        <h4>Información de Servicio</h4>
                        <h6>Rellene la información para programar su servicio de limpieza.</h6>
                    </div>
                    <form class="theme-form" [formGroup]="serviceForm" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom05">Servicio</label>
                                <select formControlName="idService" class="form-control" id="idService"
                                    (change)="saveGender($event)">
                                    <option hidden value="" selected>Selecciona un Servicio...</option>
                                    <option [value]="service.id" *ngFor="let service of services">{{service.name}}
                                    </option>
                                </select>
                                <div *ngIf="serviceForm.controls.idService.touched && serviceForm.controls.idService.errors?.required"
                                    class="text text-danger">
                                    El servicio es requerido.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">Fecha</label>
                                <input type="date" class="form-control" id="validationCustom02" formControlName="date"
                                    required>
                                <div *ngIf="serviceForm.controls.date.touched && serviceForm.controls.date.errors?.required"
                                    class="text text-danger">
                                    El apellido es requerido.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom03">Hora</label>
                                <input type="time" class="form-control" id="validationCustom03" formControlName="hour"
                                    required>
                                <div *ngIf="serviceForm.controls.hour.touched && serviceForm.controls.hour.errors?.required"
                                    class="text text-danger">
                                    La hora es requerida.
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom03">Comentario</label>
                                <input type="text" class="form-control" id="validationCustom03"
                                    formControlName="commentary" required>
                                <div *ngIf="serviceForm.controls.commentary.touched && serviceForm.controls.commentary.errors?.required"
                                    class="text text-danger">
                                    El comentario es requerido.
                                </div>
                            </div>
                            <button class="btn btn-primary mr-1" [disabled]="!serviceForm.valid || saveButton"
                                (click)="createServiceRequestValidation()">Guardar</button>
                        </div>
                    </form>
                </div>
                <!-- / Register -->


                <!-- Register -->
                <div class="card-body" *ngIf="formRegister">
                    <div class="text-center">
                        <h4>Registrate</h4>
                        <h6>Ingresa la siguiente información</h6>
                    </div>
                    <form class="theme-form" [formGroup]="userForm" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Nombres</label>
                                <input type="text" class="form-control" id="validationCustom01"
                                    placeholder="Nombre de usuario" formControlName="firstName" required>
                                <div *ngIf="userForm.controls.firstName.touched && userForm.controls.firstName.errors?.required"
                                    class="text text-danger">
                                    El nombre de usuario es requerido.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">Apellido</label>
                                <input type="text" step="0.01" class="form-control" id="validationCustom02"
                                    placeholder="Apellido de usuario" formControlName="secondName" required>
                                <div *ngIf="userForm.controls.secondName.touched && userForm.controls.secondName.errors?.required"
                                    class="text text-danger">
                                    El apellido es requerido.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom03">Correo electrónico</label>
                                <input type="email" class="form-control" id="validationCustom03"
                                    placeholder="Correo electrónico de usuario" formControlName="email" required>
                                <div *ngIf="userForm.controls.email.touched && userForm.controls.email.errors?.required"
                                    class="text text-danger">
                                    El correo electrónico es requerida.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04">Télefono</label>
                                <input type="number" class="form-control" id="validationCustom04"
                                    placeholder="Télefono de usuario" formControlName="phone" required>
                                <div *ngIf="userForm.controls.phone.touched && userForm.controls.phone.errors?.required"
                                    class="text text-danger">
                                    El télefono es requerid0.
                                </div>
                            </div>

                            <!-- <div class="col-md-6 mb-3">
                                <label for="validationCustom05">Género</label>
                                <select formControlName="gender" class="form-control" id="gender"
                                    (change)="saveGender($event)">
                                    <option hidden value="" selected>Selecciona Género...</option>
                                    <option [value]="gender.id" *ngFor="let gender of genders">{{gender.name}}</option>
                                </select>
                                <div *ngIf="userForm.controls.gender.touched && userForm.controls.gender.errors?.required"
                                    class="text text-danger">
                                    El género es requerido.
                                </div>
                            </div> -->
                            <!-- <div class="col-md-6 mb-3">
                                <label for="validationCustom06">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="validationCustom06"
                                    formControlName="birthdate" required>
                            </div> -->
                        </div>
                        <button class="btn btn-primary mr-1" [disabled]="!userForm.valid || saveButton"
                            (click)="saveUser()">Guardar</button>
                    </form>
                </div>
                <!-- / Register -->

            </div>
        </div>
    </div>
</div>