<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Infomación de Usuario</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" novalidate>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationCustom01">Nombres</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Nombre de usuario"
                  [formControl]="userForm.controls['firstName']" required>
                <div *ngIf="userForm.controls.firstName.touched && userForm.controls.firstName.errors?.required"
                  class="text text-danger">
                  El nombre de usuario es requerido.
                </div>
                <div *ngIf="userForm.controls.firstName.touched && userForm.controls.firstName.errors?.pattern"
                  class="text text-danger">
                  El nombre debe ser únicamente letras.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationCustom02">Apellido</label>
                <input type="text" step="0.01" class="form-control" id="validationCustom02"
                  placeholder="Apellido de usuario" [formControl]="userForm.controls['secondName']" required>
                <div *ngIf="userForm.controls.secondName.touched && userForm.controls.secondName.errors?.required"
                  class="text text-danger">
                  El apellido es requerido.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationCustom03">Correo electrónico</label>
                <input type="email" class="form-control" id="validationCustom03"
                  placeholder="Correo electrónico de usuario" [formControl]="userForm.controls['email']" required>
                <div *ngIf="userForm.controls.email.touched && userForm.controls.email.errors?.required"
                  class="text text-danger">
                  El correo electrónico es requerida.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationCustom04">Télefono</label>
                <input type="number" class="form-control" id="validationCustom04" placeholder="Télefono de usuario"
                  [formControl]="userForm.controls['phone']" required>
                <div *ngIf="userForm.controls.phone.touched && userForm.controls.phone.errors?.required"
                  class="text text-danger">
                  El télefono es requerid0.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom05">Género</label>
                <select [formControl]="userForm.controls['gender']" class="form-control" id="gender" (change)="saveGender($event)">
                  <option hidden value=""  selected>Selecciona Género...</option>
                  <option [value]="gender.id" *ngFor="let gender of genders">{{gender.name}}</option>
                </select>
                <div *ngIf="userForm.controls.gender.touched && userForm.controls.gender.errors?.required"
                  class="text text-danger">
                  El género es requerido.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom06">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="validationCustom06"
                  [formControl]="userForm.controls['birthdate']" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom07">Role</label>
                <select [formControl]="userForm.controls['role']" class="form-control" id="role" (change)="saveRole($event)">
                  <option hidden value="" selected>Selecciona un rol de usuario...
                  </option>
                  <option [value]="role.id" *ngFor="let role of roles">{{role.name}}</option>
                </select>
                <div *ngIf="userForm.controls.role.touched && userForm.controls.role.errors?.required"
                  class="text text-danger">
                  El rol es requerido.
                </div>
              </div>

            </div>
            <button class="btn btn-primary mr-1" [disabled]="!userForm.valid || saveButton"
              (click)="saveUser()">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>