<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-10">
            <h4 class="title-page">Servicios Solicitados</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <h5>Filtros</h5>
                        </div>
                        <div class="col-sm-10">

                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" type="button" placement="top"
                                (click)="generateDocument()" *ngIf="downloadFile">Descargar Servicios</button>
                        </div>
                        <div class="col-sm-4">
                            <label><b>Estados de Servicio</b></label>
                            <select (change)="filterStatus($event)" class="form-control" id="state">
                                <option hidden value="" selected>Selecciona un estado de usuario...</option>
                                <option [value]="state.id" *ngFor="let state of status">{{state.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Técnico Asignado</th>
                                <th scope="col">Servicio</th>
                                <th scope="col">Transporte</th>
                                <th scope="col">Programado</th>
                                <th scope="col">Tipo de pago</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Recargos</th>
                                <th scope="col">Total</th>
                                <th scope="col">Comentario</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Chat</th>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody *ngFor="let service of services; index as i">
                            <tr>
                                <th scope="row">{{i+1}} </th>
                                <td>{{ service.users.client.firstName }} {{ service.users.client.secondName }}</td>
                                <td class="pending-uid_technical" *ngIf="service.listService.uid_technical === '0'">Sin
                                    Asignar</td>
                                <td *ngIf="service.listService.uid_technical != '0'">
                                    {{ service.users.technical.firstName }} {{ service.users.technical.secondName }}
                                </td>
                                <td>{{ service.listService.service.name }} </td>

                                <td *ngIf="service.listService.transport === 0" class="status-cancel">No</td>
                                <td *ngIf="service.listService.transport === 1" class="status-completed">Si</td>

                                <td *ngIf="service.listService.programmed === 1" class="status-completed">Si</td>
                                <td *ngIf="service.listService.programmed !== 1" class="status-cancel">No</td>

                                <td *ngIf="service.listService.type_payment === 1" class="status-process">Efectivo</td>
                                <td *ngIf="service.listService.type_payment === 2" class="status-process">Tarjeta</td>

                                <td>Q {{ service.listService.service.price | number : '1.2-2'}}</td>
                                <td>Q {{ service.listService.charges | number : '1.2-2'}}</td>
                                <td>Q {{ service.listService.total | number : '1.2-2'}}</td>

                                <td>{{ service.listService.commentary }}</td>
                                <td *ngIf="service.listService.status === 0" class="status-cancel"> Cancelado</td>
                                <td *ngIf="service.listService.status === 1" class="status-completed">Completado</td>
                                <td *ngIf="service.listService.status === 2" class="status-process">Servicio En Proceso
                                </td>
                                <td *ngIf="service.listService.status === 3" class="status-process">Técnico en Camino
                                </td>
                                <td *ngIf="service.listService.status === 5 && service.listService.uid_technical != '0'" class="status-process">Técnico Asignado
                                </td>
                                <td *ngIf="service.listService.status === 5 && service.listService.uid_technical === '0'" class="status-process">Servicio Solicitado
                                </td>
                                <td>
                                    <div class="btn-showcase">
                                        <button class="btn btn-primary btn-xs btn-pill" type="button" placement="top"
                                            (click)="getChat(service.listService.id)">Chat</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>