.pending-uid_technical {
    font-weight: bold;
    color: blue; 
}

.status-cancel {
    font-weight: bold;
    color: red;
}

.status-completed {
    font-weight: bold;
    color: green;
}

.status-process {
    font-weight: bold;
    color: orange;
}

.status-process {
    font-weight: bold;
    color: blue;
}