<div class="page-wrapper">
	<div class="auth-bg">
		<div class="authentication-box">
			<!-- <div class="text-center"><img src="assets/images/endless-logo.png" alt=""></div> -->
			<div class="card mt-4">
				<div class="card-body">
					<div class="text-center">
						<h4>Iniciar sesión</h4>
						<h6>Ingresa tu email y contraseña </h6>
					</div>
					<form class="theme-form" [formGroup]="loginForm" *ngIf="!newUser">
						<div class="form-group">
							<label class="col-form-label pt-0">Email</label>
							<input class="form-control" formControlName="email" type="email" required="">
							<div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required"
								class="text text-danger mt-1">
								Correo requerido
							</div>
							<div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email"
								class="text text-danger mt-1">
								Correo Invalido
							</div>
						</div>
						<div class="form-group">
							<label class="col-form-label">Contraseña</label>
							<input class="form-control" type="password" formControlName="password" required="">
							<div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required"
								class="text text-danger mt-1">
								Contraseña requerida
							</div>
						</div>
						<div class="form-group form-row mt-3 mb-0">
							<button class="btn btn-primary btn-block btn-lg" [disabled]="!loginForm.valid || loginButton"
								(click)="login(loginForm.value)" type="submit"><span>Iniciar sesión</span>
							</button>
						</div>
						<div class="text text-danger mt-4">
							{{ errorGeneral }}
						</div>

						<div class="login-divider"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>