.title-page {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.content-btn {
  padding-bottom: 20px;
}

.disable{
  font-weight: bold;
  color: red;
}

.enable{
  font-weight: bold;
  color: green;
}