<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-10">
            <h4 class="title-page">Usuarios</h4>
        </div>
        <div class="col-sm-12 col-xl-2">
            <div class="content-btn">
                <button class="btn btn-success btn-lg" type="button" placement="top" (click)="newUser()">Nuevo
                    Usuario</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <h5>Filtros</h5>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" type="button" placement="top" (click)="generateDocument()">Descargar Usuarios</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Correo electrónico</th>
                                <th scope="col">Télefono</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Género</th>
                                <!-- <th scope="col">Fecha Nac.</th> -->
                                <th scope="col">Estado</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let user of users; index as i">
                            <tr>
                                <th scope="row">{{i+1}} </th>
                                <td>{{ user.firstName }} {{ user.secondName }} </td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phone }}</td>
                                <td>{{ user.roleName }}</td>
                                <td>{{ user.gender }}</td>
                                <!-- <td>{{user.birthdate.toDate}}</td> -->
                                <td class="enable" *ngIf="user.status === 1">Activo</td>
                                <td class="disable" *ngIf="user.status === 2">Deshabilitado</td>
                                <td>
                                    <div class="btn-showcase">
                                        <button class="btn btn-primary btn-xs btn-pill" type="button" placement="top"
                                            (click)="editUser(user)">Editar</button>
                                        <button class="btn btn-danger btn-xs btn-pill" type="button" placement="top"
                                            (click)="disableUser(user, 2)" *ngIf="user.status === 1">Desactivar</button>
                                        <button class="btn btn-success btn-xs btn-pill" type="button" placement="top"
                                            (click)="disableUser(user, 1)" *ngIf="user.status === 2">Activar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>