.title-page {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.card-header-size {
  height: 90px;
}

.content-btn {
  padding-bottom: 20px;
}

.card-height {
  height: 300px;
}

.description {
  height: 40px;
}

.enabled {
  color: green;
}

.disabled {
  color: red;
}