<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-10">
      <h4 class="title-page">Servicios</h4>
    </div>
    <div class="col-sm-12 col-xl-2">
      <div class="content-btn">
        <button class="btn btn-success btn-lg" type="button" placement="top" (click)="newService()">Nuevo
          Servicio</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let service of services" class="col-sm-4 col-xl-3">
      <div class="card height-equal card-height">
        <div class="card-header bg-primary card-header-size">
          <h5>{{service.name}}</h5>
        </div>
        <div class="card-body btn-showcase">
          <p>Tiempo de Servicio: {{service.time_services}} Min.</p>
          <p class="description">Descripción: {{service.description}}</p>
          <p>Estado: <span class="enabled" *ngIf="service.status === 1">Habilitado</span> <span class="disabled"
              *ngIf="service.status === 2">Deshabilitado</span> </p>
          <button class="btn btn-info btn-xs" type="button" placement="top" (click)="updateService(service)" >Editar</button>
          <button *ngIf="service.status === 2" class="btn btn-success btn-xs" type="button" placement="top" (click)="statusServiceUpdate(service.id, 1)">Habilitar
          </button>
          <button *ngIf="service.status === 1" class="btn btn-danger btn-xs" type="button" placement="top" (click)="statusServiceUpdate(service.id, 2)">Deshabilitar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>