<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Información de Servicio</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" novalidate>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label>Nombre de Servicio</label>
                <input type="text" class="form-control" placeholder="Nombre de servicio"
                  [formControl]="serviceForm.controls['name']" required>
                <div *ngIf="serviceForm.controls.name.touched && serviceForm.controls.name.errors?.required"
                  class="text text-danger">
                  El nombre de servicio es requerido
                </div>
                <div *ngIf="serviceForm.controls.name.touched && serviceForm.controls.name.errors?.pattern"
                  class="text text-danger">
                  El nombre debe ser únicamente letras.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label>Precio de Servicio</label>
                <input type="number" class="form-control" placeholder="Precio de Servicio"
                  [formControl]="serviceForm.controls['price']" required>
                <div *ngIf="serviceForm.controls.price.touched && serviceForm.controls.price.errors?.required"
                  class="text text-danger">
                  El precio es requerido.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="col-md-7"> <label>Tiempo (Minutos) </label></div>
                <input type="number" class="form-control" id="validationCustom02" placeholder="Tiempo de servicio"
                  [formControl]="serviceForm.controls['timeServices']" required>
                <div
                  *ngIf="serviceForm.controls.timeServices.touched && serviceForm.controls.timeServices.errors?.required"
                  class="text text-danger">
                  El tiempo es requerida.
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="col-md-7"> <label>Descripción</label></div>
                <input type="text" class="form-control" id="validationCustom03" placeholder="Descripción de servicio"
                  [formControl]="serviceForm.controls['description']" required>
                <div
                  *ngIf="serviceForm.controls.description.touched && serviceForm.controls.description.errors?.required"
                  class="text text-danger">
                  La descripción es requerida.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label>Imagen de Máquina</label>
                <input type="file" class="form-control" (change)="imageMachine($event)" accept=".png,.jpg"
                  [formControl]="serviceForm.controls['pathImage']" />
              </div>
              <div class="col-md-12 mb-2">
                <div class="form-row">
                  <div class="col-md-7"> <label>Tarifas</label></div>
                  <div class="col-md-5"> <label>Opciones</label></div>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-row" *ngFor="let tariff of tariffs; index as i">
                  <div class="col-md-7">
                    <app-form-tariffs [tariff]="tariff" [index]="i">
                    </app-form-tariffs>
                  </div>
                  <div class="col-md-5">
                    <div class="btn-showcase">
                      <button class="btn btn-danger btn-xs btn-pill" type="button" placement="top"
                        (click)="discardTariff(tariff, i)">Eliminar</button>
                      <button class="btn btn-success btn-xs btn-pill" type="button" placement="top"
                        (click)="addTariff()">Nuevo</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary mr-1" [disabled]="!serviceForm.valid || saveButton"
              (click)="createService()">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>