<!-- footer start-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 footer-copyright">
      <p class="mb-0">Copyright 2020 © Moppa Todos los Derechos Reservados.</p>
    </div>
  </div>
</div>