<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-xl-3 col-lg-6">
      <div class="card o-hidden">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
              <app-feather-icons [icon]="'package'"></app-feather-icons>
            </div>
            <div class="media-body"><span class="m-0">Servicios Realizados</span>
              <h4 class="mb-0 counter" [CountTo]="6659" [from]="0" [duration]="1"></h4><i class="icon-bg"
                data-feather="package"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 col-lg-6">
      <div class="card o-hidden">
        <div class="bg-secondary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
              <app-feather-icons [icon]="'map-pin'"></app-feather-icons>
            </div>
            <div class="media-body"><span class="m-0">Técnicos Activos</span>
              <h4 class="mb-0 counter" [CountTo]="9856" [from]="0" [duration]="1">9856</h4><i class="icon-bg"
                data-feather="map-pin"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 col-lg-6">
      <div class="card o-hidden">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
              <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
            </div>
            <div class="media-body"><span class="m-0">Facturado</span>
              <h4 class="mb-0 counter" [CountTo]="23827" [from]="0" [duration]="1">Q23,827.23</h4><i class="icon-bg"
                data-feather="trending-up"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 col-lg-6">
      <div class="card o-hidden">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
              <app-feather-icons [icon]="'user'"></app-feather-icons>
            </div>
            <div class="media-body"><span class="m-0">Servicios Realizados Hoy</span>
              <h4 class="mb-0 counter" [CountTo]="538" [from]="0" [duration]="1">538</h4><i class="icon-bg"
                data-feather="user"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-7 xl-100">
      <div class="card">
        <div class="card-header">
          <h5>Ranking Técnicos</h5>

        </div>
        <div class="card-body">
          <div class="table-responsive sellers">
            <table class="table table-bordernone">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Servicios este Mes</th>
                  <th scope="col">Servicios Totales</th>
                  <th scope="col">Grupo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle">
                      <img
                        class="img-radius img-30 align-top m-r-15 rounded-circle" src="assets/images/user/2.png" alt="">
                      <div class="d-inline-block">
                        <p>Daniel Peralta</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>274</p>
                  </td>
                  <td>
                    <p>478</p>
                  </td>
                  <td>
                    <p>Grupo 3</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle"><img
                        class="img-radius img-30 align-top m-r-15 rounded-circle" src="assets/images/user/2.png" alt="">
                      <div class="d-inline-block">
                        <p>Alejandro Sánchez</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>246</p>
                  </td>
                  <td>
                    <p>438</p>
                  </td>
                  <td>
                    <p>Grupo 12</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle"><img
                        class="img-radius img-30 align-top m-r-15 rounded-circle" src="assets/images/user/3.jpg" alt="">
                      <div class="d-inline-block">
                        <p>Gabriel Gonzales</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>203</p>
                  </td>
                  <td>
                    <p>422</p>
                  </td>
                  <td>
                    <p>Grupo 17</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle"><img
                        class="img-radius img-30 align-top m-r-15 rounded-circle" src="assets/images/user/4.jpg" alt="">
                      <div class="d-inline-block">
                        <p>Erika Hernandéz</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>197</p>
                  </td>
                  <td>
                    <p>377</p>
                  </td>
                  <td>
                    <p>Grupo 2</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle"><img
                        class="img-radius img-30 align-top m-r-15 rounded-circle" src="assets/images/user/5.jpg" alt="">
                      <div class="d-inline-block">
                        <p>Enrique Montenegro</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>167</p>
                  </td>
                  <td>
                    <p>367</p>
                  </td>
                  <td>
                    <p>Grupo 4</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle"><img
                        class="img-radius img-30 align-top m-r-15 rounded-circle" src="assets/images/user/15.png"
                        alt="">
                      <div class="d-inline-block">
                        <p>Jaqueline Gonzales</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>147</p>
                  </td>
                  <td>
                    <p>328</p>
                  </td>
                  <td>
                    <p>Grupo 6</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-5 xl-100">
      <div class="card">
        <div class="card-header">
          <h5>Top Servicios</h5>

        </div>
        <div class="card-body">
          <div class="table-responsive sellers">
            <table class="table table-bordernone">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Este Mes</th>
                  <th scope="col">Totales</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle">
                      <div class="d-inline-block">
                        <p>Limpieza de Baños</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>1,780</p>
                  </td>
                  <td>
                    <p>4,798</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle">
                      <div class="d-inline-block">
                        <p>Limpieza de Habitaciones</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>1,203</p>
                  </td>
                  <td>
                    <p>3,998</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle">
                      <div class="d-inline-block">
                        <p>Limpieza de Piscinas</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>1,006</p>
                  </td>
                  <td>
                    <p>2,998</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>