<agm-map [latitude]="latitude" [zoom]="zoom" [longitude]="longitude" (mapReady)="onMapReady($event)" [styles]= "styles">
</agm-map>

<div class="row">
  <div class="col-md-12">
    <div class="button-list p-2">
      <button type="button" class="btn btn-primary waves-effect width-lg waves-light buttons-space" (click)="zoomIn()">Zoom +</button>
      <button type="button" class="btn btn-primary waves-effect width-lg waves-light buttons-space" (click)="zoomOut()">Zoom -</button>
    </div>
  </div>
</div>