.ProfileCard-realName .realname {
    color: #949598 !important;
}

.offcanvas-bookmark.page-wrapper .page-body-wrapper .page-body .bookmark ul li a {
    display: inline-block;
}

.bookmark ul li a {
    color: #313131 ;
}

i.fa.fa-star-o.f-18.mt-1.starred {
    color: orange;
}

.space-div{
    padding-bottom: 20px;
}
