<div class="container-fluid" *ngIf="messages">
  <div class="card card-bordered">
    <div class="card-header">
      <h4 class="card-title"><strong>Chat de Servicio No. {{ messageUid }} </strong></h4>
    </div>
    <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
      style="overflow-y: scroll !important; height:750px !important;">

      <!-- Messages Init -->


      <div *ngFor="let messageInfo of messages">

        <div *ngIf="messageInfo.type === 1">
          <div class="media media-chat" *ngIf="messageInfo.uid !== uid">
            <img class="avatar" src="/assets/images/user.png" alt="...">
            <div class="media-body">
              <p class="span-info">{{ messageInfo.name }} </p>
              <p class="bg-messsage">{{ messageInfo.message }}</p>
              <p class="span-info"> {{ messageInfo.createDate.toDate() | date: 'dd/MM/yyyy' }} </p>
            </div>
          </div>
          <div class="media media-chat media-chat-reverse" *ngIf="messageInfo.uid === uid">
            <div class="media-body">
              <p>{{ messageInfo.message }}</p>
              <p class="span-info"> {{ messageInfo.createDate.toDate() | date: 'dd/MM/yyyy' }} </p>
            </div>
          </div>
        </div>

        <div *ngIf="messageInfo.type === 2">
          <div class="media media-chat" *ngIf="messageInfo.uid !== uid">
            <img class="avatar" src="/assets/images/user.png" alt="...">
            <div class="media-body">
              <p class="span-info">{{ messageInfo.name }} </p>
              <p> <a [href]="messageInfo.path" target="_blank"> <img class="avatar" src="/assets/images/documents.png"
                    alt="..."> </a></p>
              <p class="span-info"> {{ messageInfo.createDate.toDate() | date: 'dd/MM/yyyy' }} </p>
            </div>
          </div>
          <div class="media media-chat media-chat-reverse" *ngIf="messageInfo.uid === uid">
            <div class="media-body">
              <p> <a [href]="messageInfo.path" target="_blank"> <img class="avatar img-file"
                    src="/assets/images/documents.png" alt="..."> </a></p>
              <p class="span-info"> {{ messageInfo.createDate.toDate() | date: 'dd/MM/yyyy' }} </p>
            </div>
          </div>
        </div>

        <div class="media media-meta-day"></div>
      </div>

      <!-- Messages Init /  -->

      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
      </div>
      <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
      </div>
    </div>
    <form class="theme-form" [formGroup]="messageForm">
      <div class="publisher bt-1 border-light">
        <input class="publisher-input" type="text" formControlName="message" (keydown.enter)="sendMessage()"
          placeholder="Escribe un mensaje..." (keyup)="messageText($event)">

        <div>
          <!-- <button style="display:block;width:120px; height:30px;" onclick="document.getElementById('getFile').click()">Your text here</button> -->
          <button type="button" class="btn btn-info" onclick="document.getElementById('getFile').click()" >Archivo</button>
          <input type='file' id="getFile" style="display:none" (change)="fileChat($event)"
          accept=".png,.jpg,.doc,.pdf">
        </div>


        <a (click)="sendMessage()" class="publisher-btn text-info" data-abc="true"> <i
            class="fa fa-paper-plane"></i></a>
      </div>
    </form>
  </div>
</div>